@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&family=Kalnia+Glaze:wght@100..700&display=swap');

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    background-color: #ffecf2;
    flex-grow: 1;
}
footer, nav{
    background-color: #d776ac;
}
nav a, nav icon{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
}
.botonComenzar{
    background-color: #d776ac;
    font-size: 28px;
    color: white;
    font-weight: 400;
    padding: 10px;
    border-radius: 15px;
    border: 7px solid #9d699a;
    max-width: 320px;
    min-width: 290px;
    animation: enlargeShrink 1s infinite;
    transition: background-color 0.2s, color 0.2s;
}
footer{
    color: white;
    font-size: 20px;
}
main h1{
  font-weight: 600;
  font-size: 60px;
}
main h1, button,a, label, p{
    font-family: "Acme", sans-serif;
    font-style: normal;
}
.botonComenzar:hover{
  transform: scale(1.1);
  background-color:#9d699a;
  color: white;
  box-shadow: 0 4px 8px rgb(243, 163, 236);
}
@keyframes enlargeShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
form{
  display: flex;
  flex-direction: column;
  max-width: 9cm !important
}
.buttonEnviar{
 background-color: #9d699a;
 min-width: 3cm;
 align-self: center;
 color: white;
 margin-top: 5px;
 padding: 5px;
 font-size: 20px;
 border: none;
}
label{
  font-weight: 100;
  font-size: 22px;
}
input{
  max-width: 1cm;
  align-self: center;
}
#resultado{
  text-align: center;
  max-width: 9cm !important;
  font-size: 20px;
}



@media (max-width: 576px){
    main h1{
        font-weight: 600;
        font-size: 40px;
    }
}
